# Embedding Model Configuration
EMBEDDING_API=all-MiniLM-L6-v2

# ChromaDB Configuration
COLLECTION_NAME=jpmorgan_collection
HOST_NAME=localhost
PORT_NUMBER=8000
SPACE_TYPE=cosine

# LLM Configuration
LLM_MODEL=llama3.2
